*,
*::before,
*::after {
    /* Modelo de Caixa (Box-Sizing) */
    box-sizing: border-box;

    /* Limpeza de Espaçamentos Padrão */
    margin: 0;
    padding: 0;
}
body {
    /* Espaçamento entre linhas e legibilidade */
    line-height: 1.5;
    /* Fonte Padrão */
    font-family: Arial, sans-serif; 
}
header {
    background-color: white;
    display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-right: 50px;
}

ul {
    display: flex;
    gap: 50px;
}