
*{    /* Modelo de Caixa (Box-Sizing) */
    box-sizing: border-box;

    /* Limpeza de Espaçamentos Padrão */
    margin: 0;
    padding: 0;
}
body {
    /* Espaçamento entre linhas e legibilidade */
    line-height: 1.5;
    /* Fonte Padrão */
    font-family: Arial, sans-serif; 
}
header {
    background-color: white;
    display: flex;
    margin-top: 20px;
    justify-content: end;
    padding-right: 50px;
}
.logo {
    padding-right: 430px;
}
.logo img {
    width: 300px;
    height: auto;
}

.nav nav-bar {
    display: flex;
}

ul {
    display: flex;
    margin-top: 30px;
    gap: 80px;
}